<div style="display:flex; gap: 5rem;">

<div>
    <h1>Bienvenido, {{user.first_name}} !!</h1>
    <p>Te has logueado con el email:{{user.email}}</p>
    <p>Tu rol es:{{user.role}}</p>
    
    <a href="/api/logout"><button>Salir</button></a>
</div>


<div>
  <h1>Productos</h1>
<div id="container">
    {{#each products}}
      <div style="border: 1px solid black">
          <p> Producto:{{this.title}}</p>
          <p>Descripción: {{this.description}}</p>
          <p>Precio: {{this.price}}</p>
          <p>Categoría: {{this.category}}</p>
          <a href="/api/carts/{{cid}}/products/{{this._id}}" target="_self"><button>Agregar al Carrito</button></a>
      </div>
      {{/each}}

      {{#if hasPrevPage}}
        <a href="/products?page={{prevPage}}&limit=5"><button>Anterior</button></a>
      {{/if}}

      {{#if hasNextPage}}
        <a href="/products?page={{nextPage}}&limit=5"><button>Siguiente</button></a>
      {{/if}}
  </div>
</div>
</div>